@media (min-width: 375px) {
  body {
    margin-top: 0;
  }

  .nav-menu {
    display: none;
  }

  .hamburger-menu {
    display: none;
    height: 95vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    margin-top: 0;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  }

  .nav-item {
    list-style-type: none;
    margin: 20px 0;
    padding-top: 10px;
  }

  .hamburger-menu.active {
    display: flex;
  }

  .toggle-icon {
    display: flex;
    width: 17%;
    height: 8%;
    align-self: flex-end;
  }

  .nav-item a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #3a4a42;
    margin-top: 10px;
    margin-right: 40px;
  }

  h4 {
    display: flex;
    align-self: center;
    text-align: center;
    font-weight: 600;
  }

  .nav-bar {
    display: flex;
    justify-content: end;
  }

  .nav-toggle {
    width: 17%;
    height: 8%;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("images/header-illsutration-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #main-item1 {
    width: 90%;
    height: 17%;
    justify-self: center;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #172b4d;
  }

  .animate {
    opacity: 0.6;
    transition: 0.3s;
  }

  .animate:hover {
    color: #172b4d;
    opacity: 1;
  }

  .modal-pop {
    display: none;
    height: 100vh;
  }

  .modal-container {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #c1c7d0;
    margin: 0;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    overflow: auto;
  }

  .modal-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
  }

  .modal-pop.active {
    display: flex;
  }

  .modal-pop h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    margin: 0;
  }

  .modal-pop p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .mobile-cancel1 {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    position: absolute;
    top: 50px;
    margin: 20px;
  }

  .mobile-cancel2 {
    display: none;
  }

  h2 {
    display: block;
    font-size: 40px;
    margin: 90px 0 0;
    font-weight: bold;
  }

  #main-item1 h2 {
    font-weight: 700;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
  }

  #main-span2 {
    display: block;
    color: #36b37e;
    font-size: 40px;
    justify-self: center;
  }

  #main-span1 {
    display: block;
    padding-right: 0;
    margin: 0;
  }

  #main-item2 {
    width: 75%;
    height: 40%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #172b4d;
  }

  .post-list ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0%;
    justify-content: center;
    margin: 30px 0;
  }

  .animation {
    transition: all 2s ease-in-out;
  }

  .animation:hover {
    font-size: 43px;
    transform: scale(1.5);
  }

  .post-list li {
    padding: 7px;
    margin: 4px;
    background: #ebf0ee;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #3a4a42;
    border: none;
  }

  .modal-list ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
  }

  .frame-list ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 40px;
    padding: 0%;
    justify-content: center;
  }

  .frame-list li {
    padding: 7px;
    margin: 3px;
    background: #fff;
    color: #36b37e;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  .frame-card ul {
    margin: 0 auto;
    padding: 0 0 1em;
    list-style-type: none;
  }

  .main-item3 ul {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: baseline;
    list-style-type: none;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
  }

  .main-item3 a {
    text-decoration: none;
  }

  .main-item3 li {
    padding: 1px 10px;
  }

  .modal-list li {
    padding: 7px;
    margin: 4px;
    background: #ebf0ee;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #3a4a42;
    border: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    height: 3000px;
  }

  .grid-items {
    display: flex;
    width: 90%;
    height: 95%;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    justify-self: center;
    margin-top: 15px;
    background: #ebf0ee;
  }

  .grid-card {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    left: 20px;
    background: #fff;
    border-radius: 8px;
  }

  .post-card {
    width: 70%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 32px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3a4a42;
  }

  .post-card h4 {
    font-weight: 600;
    margin: 0;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 99%;
  }

  #about-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    justify-content: center;
    text-align: center;
    background-image: url(images/mgroup.png), url(images/illustration-aboutme-mobile.svg);
    background-position: right top, left bottom;
    background-repeat: no-repeat no-repeat;
  }

  .about-items {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background: #ebf0ee;
    border: 1px solid #c1c7d0;
    border-radius: 8px;
    width: 85%;
    justify-content: center;
    margin: 20px;
  }

  .frame-card {
    width: 80%;
    height: 10%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 34px;
    line-height: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    color: #3a4a42;
  }

  img {
    display: block;
    margin-top: 10px;
    padding-top: 20px;
  }

  .modal-btn img {
    display: inline;
    margin: 0;
    width: 18px;
    position: relative;
    bottom: -3px;
    padding-left: 5px;
    padding-top: 0;
  }

  .about-container {
    display: flex;
    justify-content: center;
  }

  #works-div {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #172b4d;
    position: relative;
  }

  .modal-img #img1 {
    width: 100%;
    height: 100%;
  }

  .modal-img #img2 {
    display: none;
  }

  #works-div img {
    margin: 0 auto;
    padding-bottom: 50px;
  }

  #about-box {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #172b4d;
    line-height: 52px;
  }

  #about-box h4 {
    margin: 0 auto;
    padding-top: 50px;
  }

  #about-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
  }

  #about-text p {
    margin: 0 15px;
    padding: 15px;
  }
  
  .message{
    display: none;
  }

  .message.active{
    display: block;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #e63631;
  }
  .form-container1 {
    background-image: url(images/Frame.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .form-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .form-header {
    margin: 0 auto;
    padding: 5px 51px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
  }

  #action img {
    margin: 0 auto;
  }

  .form-body {
    width: 99%;
    height: 330px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  input {
    width: 327px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    background: #fff;
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    padding: 20px;
  }

  textarea {
    box-sizing: border-box;
    border: 1px solid #60c095;
    border-radius: 4px;
    width: 327px;
    height: 114px;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #42526e;
    margin-bottom: 15px;
  }

  .form-body button {
    border-radius: 7px;
    padding: 12px 32px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 24px;
    color: #fff;
    border: none;
    background: #36b37f;
    margin-top: 1px;
  }

  .modal-btn2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
  }

  .modal-btn1 {
    display: none;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .modal-btn a {
    text-decoration: none;
    color: #fff;
    border: none;
    background: #36b37f;
    line-height: 48px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.03em;
    text-align: center;
    border-radius: 4px;
    padding: 0 4px;
  }

  #support-txt {
    text-align: center;
    margin: 30px 0;
  }

  #support-txt a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    padding-right: 15px;
    margin-bottom: 20px;
  }

  #socials {
    margin-top: 70px;
  }

  #shape {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .btn {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    padding: 12px 32px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #fff;
    border: none;
  }

  .btn:hover {
    box-shadow: 0 8px 16px 0 #36b37f3d;
  }

  .btn:enabled {
    background: #36b37f;
  }

  .btn:active {
    background: #008552;
    border-radius: 4px;
  }
}

@media (min-width: 768px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 30%;
    text-align: center;
    justify-content: center;
  }

  .nav-toggle {
    display: none;
  }

  .nav-item a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .hambuger-menu {
    display: none;
  }

  .hamburger-menu.active {
    display: none;
  }

  .nav-item {
    display: flex;
    margin: 0 auto;
    text-align: center;
    padding: 1px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3px;
    height: 1000px;
    margin: 0 100px;
  }

  .grid-items {
    display: grid;
    height: 474px;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    justify-self: center;
    margin-top: 15px;
    background: #ebf0ee;
    max-width: 369px;
  }

  .grid-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    background: #fff;
    border-radius: 8px;
  }

  .modal-pop p {
    margin-bottom: 70px;
  }

  .post-card {
    width: fit-content;
    height: 35%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #172b4d;
    padding-left: 0;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: none;
    text-align: center;
  }

  .modal-pop h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    margin: 0;
    width: 30%;
  }

  .modal-text {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 99%;
  }

  header {
    background-image: url(images/Header-llustration-desktop2.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position: center top;
  }

  #main-item1 h2 {
    font-weight: 800;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
  }

  #main-span1 {
    display: inline;
    padding-right: 0;
    margin-bottom: 70px;
  }

  .main-item2 {
    width: 40%;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 70px;
  }

  .main-item3 {
    width: 40%;
    height: 4px;
    padding-bottom: 50px;
  }

  #main-p {
    margin: 0 150px;
  }

  .items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 100px;
  }

  .modal-wrapper {
    background-color: #fff;
    margin: 90px;
    padding: 40px;
    border-radius: 10px;
  }

  .post-list ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    justify-content: center;
    color: #172b4d;
    margin: 10px;
  }

  .post-list li {
    padding: 7px;
    margin: 4px;
    background: #ebf0ee;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #172b4d;
    border: none;
  }

  .frame-list li {
    padding: 4px;
    margin: 2px;
    background: #fff;
    color: #36b37e;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .frame-card {
    width: 80%;
    height: 10%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #172b4d;
  }

  #socials {
    margin-top: 70px;
    margin-bottom: 0;
    margin-right: 20px;
    display: flex;
    justify-content: center;
  }

  #shape,
  #support-txt {
    display: none;
    height: 1px;
    margin-top: 30px;
  }

  .form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 20px 130px;
    padding-bottom: 120px;
  }

  .form-body {
    display: block;
  }

  .form-header {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    padding: 20px;
  }

  #main-item1 {
    margin-top: 60px;
  }

  #action img {
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 250px;
  }

  .form-header h4 {
    display: block;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  section {
    margin-top: 50px;
  }

  #works-div img {
    display: none;
  }

  input,
  textarea {
    width: 100%;
  }

  .btn2 {
    align-self: flex-start;
  }

  #about-title {
    background-image: url(images/illustration-aboutme-desktop.svg), url(images/illustration-aboutme-mobile.svg);
    background-position: right top, left bottom;
    background-repeat: no-repeat no-repeat;
    background-size: 80%;
  }

  .mobile-cancel1 {
    display: none;
  }

  .mobile-cancel2 {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    position: absolute;
    top: 50px;
    margin: 20px;
  }

  .modal-img #img1 {
    display: none;
    width: 100%;
    height: 100%;
  }

  .modal-img #img2 {
    display: flex;
    width: 100%;
    height: 10%;
    margin-top: 0;
  }

  #about-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    padding: 15px 20px;
  }

  #about-text p {
    padding: 0 200px;
  }

  .form-container1 {
    background-image: url(images/contact2.svg), url(images/contact1.svg), url(images/illustration-1-contact-form-desktop.svg);
    background-repeat: no-repeat no-repeat;
    background-position: right bottom 2px, left 150px bottom 40px, left bottom;
    background-size: 10%;
  }

  .footer-div {
    border-top: 3px solid #dfe1e6;
    width: 100%;
    margin: 0;
    padding-bottom: 3px;
    height: 20px;
    position: sticky;
  }

  .btn {
    width: 150px;
    height: 45px;
    border-radius: 7px;
    padding: 13px 22px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.03em;
    color: #fff;
    border: none;
  }

  .form-button {
    border-radius: 7px;
    padding: 12px 32px;
    text-align: center;
    margin-top: 20px;
    width: fit-content;
  }

  .modal-btn2 {
    display: none;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .modal-btn1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    width: 311px;
  }
}
